@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
  background-color: #cccccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #641f6f, #1e0c21);
  border-radius: 15px;
  padding: 15px;
}
.sub-container1 {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.title {
  font-family: "Handjet";
  letter-spacing: 4px;
  word-spacing: 10px;
  font-size: 40px;
  color: #fecd23;
  font-weight: 700;
  margin-bottom: 20px;
}
.sub-title {
  color: #f7ecd6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.sub-container2{
  width: 93%;
  background: linear-gradient(to bottom, #641f6f, #1e0c21);
  border-radius: 15px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-title2{
  color: #cccccc;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}
input{
  width: 70%;
  height: 22px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  font-size: 16px;
  padding-left: 8px;
}
input:focus{
  outline: none;
  box-shadow: 0 0 10px #cccccc;
}
input::placeholder {
  color: #888; 
  font-style: italic; 
  padding-left: 2px;
}
.container-games{
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.games{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #73CFFF, #3B5AEE);
  border-top: 10px solid #2637DB;
  border-left: 8px solid #2637DB;
  border-right: 8px solid #2637DB;
  border-bottom: 8px solid #2637DB;
  margin: 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
button{
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  color:#cccccc;
  font-size: 16px;
  background-color: #1D0C20;
  font-weight: 700;
  border-radius: 5px;
}
